<app-barra></app-barra>

  <div class="container d-flex justify-content-center mb-4">

    <div class="card">
      <div class="car-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link "  routerLink="/iniciar-sesion">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/registro">Crear Persona</a>
          </li>

        </ul>

      </div>

      <div class="car-body">
      
        
        
      </div>
    </div>
  </div>

