<div class="modal-header">
    <h4 class="modal-title pull-left">Nueva Experiencia</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="editar" class="row g-3" (ngSubmit)="onUpdate()" novalidate>

        <div class="col-md-6">
            <label for="empresa" class="form-label">Empresa</label>

            <input type="text" formControlName="nombre_empresa" class="form-control"
                [ngClass]="{'is-invalid':Empresa?.errors && Empresa?.touched,'is-valid':!Empresa?.errors && Empresa?.touched}">


            <div *ngIf="Empresa?.errors && Empresa?.touched" class="mb-3">
                <span *ngIf="Empresa?.hasError('required')" class="text-danger">
                    El nombre de la Empresa es requerido
                </span>
            </div>
        </div>


        <div class="col-md-6">
            <label for="puesto" class="form-label">Puesto</label>
            <input type="text" formControlName="puesto" class="form-control"
                [ngClass]="{'is-invalid':Puesto?.errors && Puesto?.touched,'is-valid':!Puesto?.errors && Puesto?.touched}">

            <div *ngIf="Puesto?.errors && Puesto?.touched" class="mb-3">
                <span *ngIf="Puesto?.hasError('required')" class="text-danger">
                    El puesto es requerido
                </span>
            </div>
        </div>

        <div class="col-md-6">
            <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
            <input type="date" (change)="onChangeValueFecha()" formControlName="fecha_inicio" class="form-control"
                [ngClass]="{'is-invalid':FechaInicio?.errors && FechaInicio?.touched,'is-valid':!FechaInicio?.errors && FechaInicio?.touched}">

            <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">

                <!--  <span>{{editar.get('fecha_fin')?.errors | json}}</span>-->
                <p *ngIf="FechaInicio?.hasError('required')" class="text-danger">
                    La fecha de Inicio es requeria
                </p>
                <p *ngIf="FechaInicio?.errors?.['validarFecha']" class="text-danger">
                    La Fecha de fin no puede ser menor a la fecha de inicio
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <label for="fecha_fin" class="form-label">Fecha Fin</label>
            <input type="date" [min]="fecha" (change)="onChangeValueFechaFin()" formControlName="fecha_fin"
                class="form-control"
                [ngClass]="{'is-invalid':FechaFin?.errors && FechaFin?.touched,'is-valid':!FechaFin?.errors && FechaFin?.touched}">

            <div *ngIf="FechaFin?.errors && FechaFin?.touched">
                <!--  <span>{{editar.get('fecha_fin')?.errors | json}}</span>-->
                <p *ngIf="FechaFin?.hasError('required')" class="text-danger">
                    La fecha de fin es requeria
                </p>
                <p *ngIf="FechaFin?.errors?.['validarFechaFin']" class="text-danger">
                    La Fecha de fin no puede ser menor a la fecha de inicio
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <label for="logo" class="form-label">Logo Empresa</label>
            <input formControlName="logo" (change)="onFileChangedFotoLogo($event)" class="form-control" type="file"
                accept=".jpeg,.jpg,.png" class="form-control">
        </div>
        <div class="col-md-12">
            <label for="descripcion" class="form-label">Descripcion</label>
            <!--  <input type="text"  class="form-control" formControlName="sobre_mi" >-->
            <textarea class="form-control" formControlName="descripcion"></textarea>
        </div>

        <!--  <div class="col-md-5">
            <button type="submit" class="btn btn-primary" [disabled]="!editar.valid">
               Guardar
            </button>
            <button style="margin-left:10px" type="reset"  class="btn btn-danger" (click)="cancelar()">
                Cancelar
             </button>
           
        </div> -->


    </form>
</div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark" (click)="onUpdate()" [disabled]="!editar.valid"
            data-bs-dismiss="modal"> Guardar </button>
    </div>

    
   
    

         
    
    
          
        
       
        
    
       
       
   