<div class="card mat-card">
    <div>
        <div class="card-titles">

            <h2>Proyectos</h2>
            <div class="btn-edit" *ngIf="isLogged">
                <a  (click)=" openModalNuevo()" class="btn-rigth">
                    <fa-icon [icon]="faPlus"></fa-icon> 
                </a>
                <!--    <a routerLink="/nueva-experiencia/{{id_persona}}" class="btn-rigth">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </a>-->
            </div>

        </div>
    </div>


    <div>
        <ul class="items-list">
            <li *ngFor="let proyecto of proyectos">
                <div class="data-container">
                    <a href="#">
                        
                        <div class="list-info">
                            <h3>{{proyecto.nombre}}</h3>
                             <p>{{proyecto.descripcion}}</p>
                            <h5><time>{{proyecto.fecha}}</time> </h5>
                        </div>

                    </a>
                </div>
                <div class="data-control" *ngIf="isLogged">
                    <div class="btn-edit">
                        <a style="margin:4px"  (click)= openModalEditar(proyecto.id) class="btn-rigth" *ngIf="isLogged">
                            <fa-icon [icon]="faPen" size="sm"  ></fa-icon>
                        </a>  
                        <!--  <a routerLink="/editar-expereincialaboral/{{experiencia.id}}" class="btn-rigth">
                            <fa-icon [icon]="faPen"></fa-icon>
                        </a> -->                      
                    </div>
                    <div>
                        <a (click)="borrarProyecto(proyecto.id)" class="btn-rigth">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </a>

                    </div>

                </div>

            </li>
        </ul>
    </div>
</div>
