<div class="card mat-card">
    <div>
        <div class="card-titles">

            <h2>Educacion</h2>
            <div class="btn-edit" *ngIf="isLogged">
                <div class="btn-edit" *ngIf="isLogged">
                    <a  (click)=" openModalNuevo()" class="btn-rigth">
                        <fa-icon [icon]="faPlus"></fa-icon> 
                    </a>
              <!--   <a routerLink="/nueva-educacion/{{id_persona}}" class="btn-rigth">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </a>-->
            </div>

        </div>
    </div>


    <div>
        <ul class="items-list">
            <li *ngFor="let educacion of educaciones">
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container">
                            <img  [src]="educacion.logo" alt="">
                        </div>
                        <div class="list-info">
                            <h3>{{educacion.establecimiento}}</h3>
                             <p>{{educacion.titulo}}</p>
                            <h5><time>{{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></h5>
                        </div>

                    </a>
                </div>
                <div class="data-control" *ngIf="isLogged">
                    <div class="btn-edit">
                        <a style="margin:4px"  (click)= openModalEditar(educacion.id) class="btn-rigth" *ngIf="isLogged">
                            <fa-icon [icon]="faPen" size="sm"  ></fa-icon>
                        </a>  
                       <!-- <a routerLink="/editar-educacion/{{educacion.id}}" class="btn-rigth">
                            <fa-icon [icon]="faPen"></fa-icon>
                        </a>    -->                    
                    </div>
                    <div>
                        <a (click)="borrarEducacion(educacion.id)" class="btn-rigth">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </a>

                    </div>

                </div>

            </li>
        </ul>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">{{educacion.establecimiento}}</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <p><strong> Titulo:</strong> {{educacion.titulo}} <strong> Promedio:</strong> {{educacion.puntaje}}</p>
     <p> <strong> Carrera:</strong> {{educacion.carrera}}</p>
     <p><strong> Fecha Inicio:</strong> <time> {{fechaInicio}}</time>  <strong> Fecha Fin:</strong> <time> {{fechaFin}}</time></p>
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="bsModalRef?.hide()">Cerrar</button>
    </div>
  </ng-template>

