<div class="card mat-card" id="first-card">
    <div id="profile-background" >
        <img [src]="foto_portada"   alt="" width="100%" height="300">

    </div>
    <div id="info">
        <div id="info-img">
            <img class="profile-image" [src]="foto_perfil" alt="">
            <div class="btn-edit" *ngIf="isLogged"><a routerLink="/editar-persona/{{miPortfolios.id}}" class="btn-rigth">
                    <fa-icon [icon]="faPen"></fa-icon>
                </a>
            </div>


        </div>
        <div id="info-data">
            <div>
                <h1>{{miPortfolios.nombre +" "+ miPortfolios.apellido}}</h1>
                <div id="info-company">{{miPortfolios.ocupacion}}</div>
                <div id="info-contact">
                    <span>{{miPortfolios?.domicilio?.provincia +"("+ miPortfolios.nacionalidad + ")"}}</span>
                    <span><a href="#">Informacion de Contacto</a></span>
                </div>
            </div>
            <ul id="info-details">
                <li>
                    <a href="/">
                        <img src="assets/Logo-AH-01.jpg">
                        <h2>U.N.T</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interes en</button>
            <button type="button" class="btn btn-light">Añadir Seccion</button>
            <button type="button" class="btn btn-light">Mas</button>
        </div>

    </div>
</div>