<div class="card mat-card" id="first-card">
    <div id="profile-background" >
        <img [src]="foto_portada"   alt="" width="100%" height="300">

    </div>
    <div id="info">
        <div id="info-img">
            <img class="profile-image" [src]="foto_perfil" alt="">
            <div class="btn-edit" *ngIf="isLogged">
                <!--  <a routerLink="/editar-persona/{{miPortfolios.id}}" class="btn-rigth">
                    <fa-icon [icon]="faPen"></fa-icon>
                </a>-->
                <a  (click)=" openModalEditar(miPortfolios.id)" class="btn-rigth">
                    <fa-icon [icon]="faPen"></fa-icon> 
                </a>
            </div>


        </div>
        <div id="info-data">
            <div>
                <h1>{{miPortfolios.nombre +" "+ miPortfolios.apellido}}</h1>
                <div id="info-company">{{miPortfolios.ocupacion}}</div>
                <div id="info-contact">
                    <span>{{miPortfolios?.domicilio?.provincia +"("+ miPortfolios.nacionalidad + ")"}}</span>
                    <span>  Informacion de Contacto</span><a (click)="openModal(template)" class="btn-rigth"> 
                        <fa-icon [icon]="faCircle"></fa-icon>
                    </a>
                </div>
            </div>
            <ul id="info-details">
                <li>
                    <a href="http://www.unt.edu.ar/">
                        <img src="assets/Logo-AH-01.jpg">
                        <h2>U.N.T</h2>
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interes en</button>
            <button type="button" class="btn btn-light">Añadir Seccion</button>
            <button type="button" class="btn btn-light">Mas</button>
        </div>-->

    </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">Informacion de Contacto</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <p><strong> Email:</strong> {{miPortfolios.email}}</p>
     <p> <strong> Direccion:</strong> {{miPortfolios?.domicilio?.direccion  +" "+ miPortfolios?.domicilio?.numero  +" "+ miPortfolios?.domicilio?.provincia}}</p>
     <p><strong> Telefono:</strong> {{miPortfolios.telefono}}</p>
    
    </div>
  </ng-template>