.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: black;
    background-color: white;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
    
}
.mat-card#first.card{
    padding: 0 ;
}

div#profile-bacgraund {
    display: flex;
    z-index: 1;
}

div#profile-bacgraund img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}
div#info-img{
    display: flex;

}
.profile-image{
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -100px;
    z-index: 1;
}
 
div#info-actions{
    display: flex;
}
div#info-actions button{
    margin-top: 8px;
    margin-right: 8px;
}
div#info-contact span{
    font-size: 1rem;
    font-weight: 400;
}
div#info-contact span a{
    color:black;
    touch-action: manipulation;
    text-decoration: none;
}
div#info-company{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}
div#info-data{
    display: flex;
    justify-content: space-between;

}
div#info-data h1{
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break:break-word;
}
div#info-data ul#info-details{
    width: 232px;
    list-style: none;
    flex-shrink: 0;
}
div#info-data ul#info-details li a {
    color: black;
    display: flex;
    text-decoration: none;
}
div#info-data ul#info-details li h2{
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    vertical-align: baseline;

}
div#info-data ul#info-details li a img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
ul.items-list{
    list-style: none inside;
}
ul.items-list li{
    display: flex;
    margin: 10px 0;
}
ul.items-list li div.data-container{
    flex-grow: 1;
}
ul.items-list li div.data-container a{
    display: flex;
    color: black;
    text-decoration: none;
}

.card-titles{
    display: flex;
    justify-content:space-between;
}
.data-control{
    display: flex;
}
.data-control div a{   
    margin: 5px ;
}
ul.items-list li div.data-container img {
    width: 80px;
    height: 80px;
    padding-right: 8px;

}
.btn-rigth{
    color: black;
    
}




