
<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
    <!--    <div class="btn-edit">-->
         <a  class="btn-right" *ngIf="isLogged" class="btn-rigth">
                <fa-icon [icon]="faPen" (click)="activarImput($event)"></fa-icon>
         </a>
      <!--   </div>-->
    </div>

    <div >
         <p id="text-acercade">{{sobre_mi}}</p>      
    </div>
    <div *ngIf="isActivo">
        <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>
            <input class="form-control" id="edit-acercade" type="text" formControlName="sobre_mi"
                placeholder="Agrega un texto">
            <button style="margin-top:10px" type="submit" class="btn btn-dark"> Guardar </button>
        </form>
    </div>

</div>
