<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit" >
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Empleado Administrativo en la Escuela Tecnica Vial Gral Manuel Belgrano</p>
    </div>
    <div>
        <input class="form-control" id="edit-acercade" type="text"  placeholder="Agrega un texto" style="display:none" >
    </div>
   
   </div>
